<div class="col-md-6">
  <div>
    <h3 class="title3">Bandwidth Service</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a class="serv_tab" href="#bw_demand" data-toggle="tab">Live Request</a></li>
        <li><a class="serv_tab" href="#bw_history" data-toggle="tab">History</a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="bw_demand">
          <form method='POST' action='/bdw'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label> 
                  <select name="source" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="source1" >
                    <option>193.205.211.69</option>             
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select name="destination" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="destination1" >
                    <option>193.1.202.133</option>                
                  </select>
                </div>          
                <div class="all_form_row">
                  <div class="test_button">
                      <input class="submit_button btn btn-blue" name="commit" type="submit" value="Test"/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        
        <div class="tab-pane" id="bw_history">
          <form method='POST' action='/bdwhistory'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label> 
                  <select name="source" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="source1" >
                    <option>0001</option>             
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select name="destination" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="destination1" >
                    <option>0001</option>                
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">          
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Display    "/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-6">
  <div>
    <h3 class="title3">Latency Service</h3>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <li class="active"><a class="serv_tab" href="#latency_demand" data-toggle="tab">Live Request</a></li>
        <li><a class="serv_tab" href="#latency_history" data-toggle="tab">History</a></li>
      </ul>
      
      <div class="tab-content">
        <div class="tab-pane active" id="latency_demand">
          <form method='POST' action='/owd/'>
            <div class="left_box" id="all_form">
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label>
                  <select name="source" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="source1" >
                    <option>0001</option>                
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select name="destination" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="destination1" >
                    <option>0001</option>                
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Test   "/>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane" id="latency_history">
          <form method='POST' action='/owdhistory/'>
            <div>
              <div class="all_form">
                <div class="all_form_row">
                  <label class="serv_label" for="source">Host source:</label>
                  <select name="source" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="source1" >
                    <option>0001</option>                
                  </select>
                </div>
                <div class="all_form_row">
                  <label class="serv_label" for="destination">Host destination:</label> 
                  <select name="destination" >
                    <option>Berlin</option>
                    <option>Lannion</option>
                    <option>Madrid_UPM</option>
                    <option>Trento</option>    
                    <option>Waterford</option>     
                  </select>
                  <select name="destination1" >
                    <option>0001</option>                
                  </select>
                </div>
                <div class="all_form_row">
                  <div class="test_button">
                    <input class="submit_button btn btn-blue" name="commit" type="submit" value="   Display   "/>
                  </div>
                </div>
              </div>
            </div>
          </form>       
        </div>
      </div>
    </div>
  </div>
</div>