  
<div class="left_box" id="welcome_box">

<a href="/bdw"> <div class="section">
  <div class="headerSection accordionTitle">
    <div class="leftIcon">
      <img src="/images/infographic/iconMondo.png" height="55">
    </div>
    <div class="rightDetail">
      <span id="regionsNum"></span>  <a href="/bdw">Bandwidth Service</a> 
    </div>
    <div class="clear"></div>
  </div>
  <div class="bodySection accordionPanel bigPanel" style="display: none;">
  </div>
    
  
</div> </a>

<a href="/owd"> <div class="section">
  <div class="headerSection accordionTitle">
    <div class="leftIcon">
      <img src="/images/infographic/iconMondo.png" height="55">
    </div>
    <div class="rightDetail">
      <span id="coresNum"></span> <a href="/owd">Latency Service</a> 
    </div>
    <div class="clear"></div>
  </div>
	<div class="bodySection accordionPanel smallPanel" style="display: none;">
		
	</div>
</div>

</a>
<br>
</br>
</div>
