<!DOCTYPE html>
<html>

<head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>FI-LAB NAM Dashboard</title>
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no">

    <link href="/stylesheets/style.css" media="screen" rel="stylesheet">
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <script src="/js/jquery.js"></script>
    <script src="/js/jquery.selectbox.js"></script>
    <script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="/js/highcharts.js"></script>
    <script src="/js/exporting.js"></script>
	
    <link href="/images/fi_lab_app/icons/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon">

    <script type="text/javascript">
      var nam_nodes =  <%- JSON.stringify(nodes)%>;
    </script>

</head>

<body>

  <header id="oil-nav">
    <nav class="navbar-inner">
      <div class="logo-header">
        <a href="http://help.lab.fi-ware.org" class="logo-header">
          <img alt="FI-WARE" id="fi-logo" src="/images/header-logo.png">
        </a>
        <a href="http://help.lab.fi-ware.org" class="brand hidden-tablet hidden-phone">
          <span id="logo-fi">FI-</span><span id="logo-ware">Lab</span>
        </a>
      </div>
      <div id="logout" class="nav pull-right nav-user">
        <a href="/logout">Logout</a>
      </div>
    </nav>
  </header>

  <div id="container" class="row">
    <div class="col-md-9">
      <div class="row">
        <div class="col-md-12"><h1 class="title1">Network Active Monitoring</h1></div>
        <p id="nam_description">Network Active Monitoring provides Bandwidth and Latency-based test results between hosts federated in FI-Lab. This Graphical User Interface enables to check the current status through a Live Request and assess the latests historical results.</p>
      </div>
      <div class="row">
        <%- body %>
      </div>

    </div>
    <div class="col-md-3">
      <!--<h3 class="title3">NAM Services Status</h3>

      <div class="tabbable">
      
      </div>-->
    </div>
  </div>

  <div id="result_modal" class="modal fade">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title title2" id="resutls_title">Test Results</h4>
        </div>
        <div id="result_modal_body" class="modal-body">
          <div class="row">
            <ul id="connection" class="nav">
              <li id="connection_source" class=""><p>Host source</p><p class="host_info" id="host_source"></p></li>
              <li class="connection_point"></li>
              <li id="connection_progress"></li>
              <li id="connection_line"></li>
              <li class="connection_point"></li>
              <li id="connection_dest" class=""><p>Host destination</p><p class="host_info" id="host_dest"></p></li>
            </ul>
          </div>
          <div id="results_table" class="row">
          </div>
          <div id="results_graph" class="row">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn close_button" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <footer>
    <div>
      2014 
      © 
      <a href="http://fi-ware.eu/">FI-WARE</a> &amp; <a href="http://fi-xifi.eu/fi-ops">FI-OPS</a>. 
      The use of FI-LAB services is subject to the acceptance of the
      <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Terms_and_Conditions"> 
        Terms and Conditions
      </a>
      and 
      <a href="http://forge.fi-ware.eu/plugins/mediawiki/wiki/fiware/index.php/FI-LAB_Personal_Data_Protection_Policy">
        Personal Data Protection Policy
      </a>
    </div>
  </footer>
</body>

</html>