<!DOCTYPE html>
<p>
<h1 class="left_title">Add User</h1>
<p>

</p>

<div class="clear"></div>

<form method='POST' action='/login'>

    <input type='hidden' name='redir' value=''>

    <div class="left_box" id="all_form">
        <div class="all_form">
            <div class="all_form_subtitle">Host details  &emsp;  </div>

            <div class="all_form_row">
                <div class="all_field">
                    <label for="host">host:</label><br />
                    <input type="text" id="Source" class="input" name="source" />
                </div>
            </div>


            <br/>
            <br/>

            <div class="all_form_row">
                <div class="actions contact">
                    <input class="submit_button" name="commit" type="submit" value="      Add      "/>
                </div>
            </div>

        </div>
    </div>

</form>
