
body {
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
	background-color: #fff;
}

.title1 {
	color: #60C0CE;
}

.title3 {
	color: #152859;
	padding-bottom: 15px;
}

#load_spinner {
	width: 50px;
}

#result_modal_body {
	text-align: center;
}

.serv_label {
	color: #152859;
	font-size: 16px;
	font-weight: 100;
}

#container {
	margin-top: 60px;
	padding-left: 50px;
	padding-right: 50px;
}

header#oil-nav {
	top: 0px;
	font-family: "NeoTechRegular";
	display: block;
	background-color: #f4f4f4;
	padding: 1px 10px 1px;
	border-bottom: 1px solid #F2F2F2;
	-moz-box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
	-webkit-box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
	box-shadow: 0px 1px 8px rgba(50,51,51,0.15);
	position: fixed;
	width: 100%;
	height: 35px;
	padding: 1px 2% 1px;
	z-index: 1039;
}

header#oil-nav nav.navbar-inner {
	padding: 0;
	background-color: transparent;
	background-image: none;
	border: none;
	box-shadow: none;
	height: 40px;
}

header#oil-nav nav.navbar-inner .logo-header {
	display: inline;
}

#fi-logo {
	width: 60px;
}

#logo-ware {
	color: #5DC1D3;
}

#logo-fi {
	color: #0b2c65;
}
a {
	color: #0093C6;
	
}

.navbar {
	margin-bottom: 0px;
	overflow: visible;
}

.nav-tabs .active {
	border-bottom: 3px;
	border-style: inherit;
	border-color: #60C0CE;
}

.nav-tabs .active .serv_tab{
	border: none;
	color: #152859;
}

.nav-tabs a {
	color: #60C0CE;
}

footer {
	bottom: 0px;
	position: absolute;
	padding-left: 50px;
}

.all_form_row {
	width: 100%;
	position: relative;
}

.all_form_row .sbHolder {
	margin-top: 20px;
}

.all_form_row label {
	margin-top: 30px;
}

.tabbable {
	padding: 10px;
	box-shadow: rgb(211, 211, 211) 0px 0px 10px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	border-bottom-left-radius: 6px;
	padding-top: 30px;
	padding-left: 45px;
	padding-right: 45px;
	padding-bottom: 40px;
}

.test_button {
	margin-top: 30px;
	text-align: right;
	
}

.btn-blue {
	background-color: #60C0CE;
	color: white;
}

.btn-blue:hover {
	background-color: #60C0CE;
	color: white;
}
.sbHolder {
	position: relative;
	font-family: 'Comfortaa';
	font-weight: 400;
	border: none;
	font-size: 14px;
	color: #666666;

	padding-top: 3px;
	padding-bottom: 3px;
	padding-left: 5px;

	box-shadow: rgb(211, 211, 211) 0px 0px 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.sbToggle {
	background: url(../images/click.png) no-repeat;

	display: block;
	height: 20px;
	width: 20px;
	position: absolute;
	margin-top: 5px;
	right: 10px;
}

.sbSelector{
	color: #666666;
	width: 80%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	border: 0;
	font-size: 14px;
}
.sbOptions {
	list-style: none;
	left: -1px;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 30px;
	width: 100%;
	z-index: 1;
	overflow-y: auto;
	border-radius: 3px;
	max-height: 1343% !important;
	margin-top: 10px;

	font-family: 'Comfortaa';
	font-weight: 400;
	border: none;
	font-size: 14px;
	color: #666666;

	background-color: white;

	box-shadow: rgb(211, 211, 211) 0px 0px 10px;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
}

.sbOptions a {

	color: #666666;
}