header .navbar-inner ul li .dropdown { margin-top: 0px}
header .navbar-inner ul li .dropdown .dropdown-menu {
margin: 6px 0px 0;
}
header.navbar nav.navbar-inner ul li .dropdown-menu {
min-width: 90px;
background-color: #f4f4f4;
border: none;
-webkit-border-top-left-radius: 0px;
-moz-border-top-left-radius: 0px;
border-top-left-radius: 0px;
-webkit-border-top-right-radius: 0px;
-moz-border-top-right-radius: 0px;
border-top-right-radius: 0px;
-webkit-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
-moz-box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
box-shadow: 2px 3px 6px rgba(0,0,0,0.1);
color: #333;
}


header.navbar nav.navbar-inner ul li .dropdown-menu .active a:hover, header.navbar nav.navbar-inner ul li .dropdown-menu .active a:focus {
background-color: rgba(152,152,152,0.1);
background-image: none;
color: #60c1cf;
}

header.navbar nav.navbar-inner ul li .dropdown-menu li a:hover, header.navbar nav.navbar-inner ul li .dropdown-menu li a:focus {
background-color: rgba(152,152,152,0.1);
background-image: none;
color: #555;
}

header.navbar nav.navbar-inner ul li .dropdown-menu>li>a {
display: block;
padding: 3px 20px;
clear: both;
font-weight: normal;
line-height: 20px;
color: #333;
white-space: nowrap;
}

header.navbar nav.navbar-inner ul li .dropdown-menu li {
color: rgb(51, 51, 51);
display: list-item;
font-family: OpenSans, Arial, sans-serif;
font-size: 14px;
height: 26px;
line-height: 20px;
list-style-image: none;
list-style-position: outside;
list-style-type: none;
text-align: left;
padding: 0px 0px 0px 0px;
}
